<div id="sidenav" class="col-md-3 col-lg-2 float-left col-1 pl-0 pr-0 collapse width show d-none d-md-inline">
    <div class="list-group border-0 card text-center text-md-left" style="box-shadow: none !important;">
        <ul>
            <li class="list-group-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <a routerLink="client">
                    <span>
                        <fa-icon icon="user" class="far fa-2x"></fa-icon>
                        <span jhiTranslate="global.menu.entities.client">Clients</span>
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>
